<div class="span9 header-name">
  <span>Name</span>
  <span class="toggle down">▼</span>
  <span class="toggle up hide">▲</span>
</div>

<div class="span1 header-graph graph pull-right">Graph</div>

<div class="span2 header-last-run last-run pull-right">
  <span>Last</span>
  <span class="toggle down">▼</span>
  <span class="toggle up hide">▲</span>
</div>
